body{
  background-color: beige;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;


  input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    color: #1a1a1a;

    &:focus {
      outline: none;
      border-color: #D64D8E;
      box-shadow: 0 0 4px #A12B63;
    }
  }

  button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #D64D8E;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #D64D8E;
    }

    &:active {
      background-color: #A12B63;
    }
  }
}